<!DOCTYPE html>
<html lang="es" ng-app="big">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Css Terceros-->
  <!-- bower:css -->
  <link rel="stylesheet" href="vendor/angular-material/angular-material.css"/>
  <!-- endbower -->

  <!--Css Propios-->
  <!-- build:css css/styles.min.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="styles/style.css">
  <!-- endinject -->
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>


  <title>Big Data</title>


</head>

<body ng-controller="testCtrl">


<!--<div layout="column" layout-fill>-->
<!--<md-toolbar>-->
<!--<div class="md-toolbar-tools">-->
<!--<md-button class="md-icon-button" aria-label="Settings">-->
<!--<md-icon class="material-icons">menu</md-icon>-->
<!--</md-button>-->
<!--<h2>-->
<!--<span>Big Data</span>-->
<!--</h2>-->
<!--<span flex=""></span>-->
<!--<md-button class="md-icon-button" aria-label="More">-->
<!--<md-icon class="material-icons">more_vert</md-icon>-->
<!--</md-button>-->
<!--</div>-->
<!--</md-toolbar>-->

<!--&lt;!&ndash; We use flex to make sure the content fills the available space.-->
<!--layout-fill also works but you may end up with issues in firefox/ie if you use it&ndash;&gt;-->
<!--<md-content flex>-->
<!--<md-card>-->
<!--<md-card-content>-->
<!--<h2> Big Data</h2>-->
<!--<p>Just put your toolbar outside of md-content. As md-content is meant to be scrollable if you want elements to-->
<!--always show you must put them outside of it.</p>-->
<!--<p>Try toogling the following checkbox to see that the md-content still fills the remaining page when there is-->
<!--room left over.</p>-->
<!--<md-checkbox ng-init="lotsOfCards = true" ng-model="lotsOfCards">Show a lot of cards?</md-checkbox>-->
<!--</md-card-content>-->
<!--</md-card>-->


<!--<md-card ng-if="lotsOfCards" ng-repeat="n in [1,2,3,4,5]">-->
<!--<md-card-content>-->
<!--<h2 ng-bind-template="Card {{::n}}"></h2>-->
<!--<p>Your content</p</md-card-content>-->
<!--</md-card>-->

<!--</md-content>-->
<!--</div>-->

<div id="regions_div" style="width: 900px; height: 500px;"></div>


<!-- Librerias Terceros -->
<!-- bower:js -->
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-animate/angular-animate.js"></script>
<script src="vendor/angular-aria/angular-aria.js"></script>
<script src="vendor/angular-messages/angular-messages.js"></script>
<script src="vendor/angular-material/angular-material.js"></script>
<script src="vendor/d3-queue/d3-queue.js"></script>
<script src="vendor/topojson/topojson.js"></script>
<script src="vendor/d3/d3.v3.min.js"></script>
<!-- endbower -->

<!-- Librerias Personales -->
<!-- build:js js/scripts.min.js -->
<!-- inject:js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/controllers.js"></script>
<!-- endinject -->
<!-- endbuild -->


<script>


  var datos = [{
    "Aduana": "MEDELLIN",
    "Cantidad": 96,
    "CiudadProveedor": "WENLING",
    "CodigoImportador": 8909133217,
    "CodigoPartida": 8711900020,
    "ContinenteCompra": "ASIA",
    "ContinenteOrigen": "ASIA",
    "DepartamentoDestino": "ANTIOQUIA",
    "DepartamentoImportador": "ANTIOQUIA",
    "DescripcionPartidaArancelaria": "Bicicletas con motor elEctrico",
    "FechaAceptacion": "06/01/2015",
    "FletesUSD": 1800,
    "NitImportador": 890913321,
    "PaisCompra": "CHINA",
    "PaisExportador": "CHINA",
    "PaisProcedencia": "CHINA",
    "Paisorigen": "CHINA",
    "PorcentajeArancel": 15,
    "PorcentajeIVA": 16,
    "RazonSocialImportador": "PREMAC S.A.S",
    "Total": 42623000,
    "TotalArancel": 19142000,
    "TotalIVA": 23481000,
    "Valor CIFUSD": 53339.01,
    "ValorCIFCOP": 1.276114479E8,
    "ValorFOBCOP": 1.230684534E8,
    "ValorFOBUSD": 51440.13,
    "ViaTransporte": "TRANSPORTE MARITIMO",
    "fila": 1
  }, {
    "Aduana": "BUENAVENTURA",
    "Cantidad": 4,
    "CiudadProveedor": "MONTEVIDEO",
    "CodigoImportador": 9004345324,
    "CodigoPartida": 8711900020,
    "ContinenteCompra": "AMERICA",
    "ContinenteOrigen": "ASIA",
    "DepartamentoDestino": "CALDAS",
    "DepartamentoImportador": "CALDAS",
    "DescripcionPartidaArancelaria": "Bicicletas con motor elEctrico",
    "FechaAceptacion": "07/01/2015",
    "FletesUSD": 154.24,
    "NitImportador": 900434532,
    "PaisCompra": "URUGUAY",
    "PaisExportador": "URUGUAY",
    "PaisProcedencia": "TAIWAN",
    "Paisorigen": "TAIWAN",
    "PorcentajeArancel": 15,
    "PorcentajeIVA": 16,
    "RazonSocialImportador": "SPECIALIZED COLOMBIA S.A.S.",
    "Total": 5999000,
    "TotalArancel": 2694000,
    "TotalIVA": 3305000,
    "Valor CIFUSD": 7507.57,
    "ValorCIFCOP": 1.796156092E7,
    "ValorFOBCOP": 1.755201962E7,
    "ValorFOBUSD": 7336.39,
    "ViaTransporte": "TRANSPORTE MARITIMO",
    "fila": 2
  }, {
    "Aduana": "BOGOTA",
    "Cantidad": 3,
    "CiudadProveedor": "KWOLOON",
    "CodigoImportador": 8300753577,
    "CodigoPartida": 8711900020,
    "ContinenteCompra": "ASIA",
    "ContinenteOrigen": "ASIA",
    "DepartamentoDestino": "BOGOTA",
    "DepartamentoImportador": "BOGOTA",
    "DescripcionPartidaArancelaria": "Bicicletas con motor elEctrico",
    "FechaAceptacion": "06/01/2015",
    "FletesUSD": 1452.05,
    "NitImportador": 830075357,
    "PaisCompra": "CHINA",
    "PaisExportador": "HONG KONG",
    "PaisProcedencia": "CHINA",
    "Paisorigen": "CHINA",
    "PorcentajeArancel": 15,
    "PorcentajeIVA": 16,
    "RazonSocialImportador": "C I JAPAN S A S",
    "Total": 2438000,
    "TotalArancel": 1095000,
    "TotalIVA": 1343000,
    "Valor CIFUSD": 3051.05,
    "ValorCIFCOP": 7299515083,
    "ValorFOBCOP": 3634146.74,
    "ValorFOBUSD": 1519,
    "ViaTransporte": "TRANSPORTE AEREO",
    "fila": 3
  }, {
    "Aduana": "BUENAVENTURA",
    "Cantidad": 115,
    "CiudadProveedor": "SHENZHEN",
    "CodigoImportador": 9006413468,
    "CodigoPartida": 8711900020,
    "ContinenteCompra": "ASIA",
    "ContinenteOrigen": "ASIA",
    "DepartamentoDestino": "BOGOTA",
    "DepartamentoImportador": "BOGOTA",
    "DescripcionPartidaArancelaria": "Bicicletas con motor elEctrico",
    "FechaAceptacion": "09/01/2015",
    "FletesUSD": 3400,
    "NitImportador": 900641346,
    "PaisCompra": "CHINA",
    "PaisExportador": "CHINA",
    "PaisProcedencia": "CHINA",
    "Paisorigen": "CHINA",
    "PorcentajeArancel": 15,
    "PorcentajeIVA": 16,
    "RazonSocialImportador": "GRUPO GITRONIC SAS",
    "Total": 17239000,
    "TotalArancel": 7742000,
    "TotalIVA": 9497000,
    "Valor CIFUSD": 21572.65,
    "ValorCIFCOP": 5.161170222E7,
    "ValorFOBCOP": 4.23585043E7,
    "ValorFOBUSD": 17705,
    "ViaTransporte": "TRANSPORTE MARITIMO",
    "fila": 4
  }];

  console.log(datos.length);

  var datosMapa = [];
  var cont = 0;

  datos.forEach((item) => {

    if (datosMapa.length === 0
    ) {
      datosMapa.push({nombre: item.PaisExportador, cant: 1})
    }
    else {
      datosMapa.forEach((pais) => {
        console.log(pais.nombre);
        if (item.PaisExportador === pais.nombre) {
          pais.cant = pais.cant + 1;
          cont = 0;
        } else {
          cont = -1;
        }
      })
    }
    if (cont < 0) {
      datosMapa.push({nombre: item.PaisExportador, cant: 1})
    }
  });

  //  console.log(datosMapa);

  var temp = [];
  temp.push(['Country', 'Exportador']);
  datosMapa.forEach((pais) => {
    temp.push([primeraMayuscula((pais.nombre).toLowerCase()), pais.cant])
  });
  console.log(temp);

  function primeraMayuscula(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }

  temp.pop();

  google.charts.load('upcoming', {'packages': ['geochart']});
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {

//    var data = google.visualization.arrayToDataTable([
//      ['Country', 'Popularity'],
//      ['Germany', 200],
//      ['United States', 300],
//      ['Brazil', 400],
//      ['Canada', 500],
//      ['France', 600],
//      ['RU', 700]
//    ]);

    var data = google.visualization.arrayToDataTable(temp);


    var options = {};

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    chart.draw(data, options);
  }

</script>


</body>

</html>
